<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style type="text/css">
body {
	padding: 30px;
	background-color: #fcfcfc;
	font: 14px 'Source Code Pro', monospace;
	color: #333;
}

.center-div {
	margin: 0 auto;
	max-width: 400px;
	height: 170px;
	background-color: #ddd;
	border-radius: 3px;
}

.center-div h {
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
	padding: 30px;
}
</style>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<title>UserInfo</title>
</head>
<body>
	<!-- Include _menu.html -->
	<div th:include="/_menu"></div>
	<div class="center-div">
		<h2>UserInfo Page</h2>
		<h3>
		 Bienvenue  : <span th:utext="${#request.userPrincipal.name}"></span>
		</h3>
		<b>cette page est proteger  par un password!</b> <br /> <br />

		<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
	</div>
</body>

</html>